body{
	background-color: #333;
  font-family: Minecraftia, arial, sans-serif;
	font-weight:normal;
	font-style:normal;
  color:white;
  font-size:1.5vw;
}

a:hover{
	color:darkred;
}

#topname{
  text-align: center;
}

.texts{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 1%;
}

.drops{
  margin-left: 8%;
  max-width: 100%;
  max-height: 100%;
}
.drops2{
  max-width: 100%;
  max-height: 100%;
  padding-left: 0.5%;
}

#fill {
  width: 100%;
  max-height: 380px;
  border: 2px solid #000;
}

.backgroundpic{
float: right;
max-width: 740px;
max-height: 380px;
margin-right: 8%;
margin-left: 7%;
text-align: center;
padding-bottom: 3.5%;
}

.bottomtext{
  display: block;
}

.doi{
  text-align: left;
  padding-left: 8%;
}

.doi .tooltiptext{
  visibility: hidden;
  text-align: left;
  color: darkgoldenrod;
}
.doi:hover .tooltiptext{
  visibility: visible;
}

.picture{
  padding-left: 30%;

}

.biomes{
  padding-left: 8%;
  padding-right: 8%;
  word-spacing: 100vw;
}

.extrabiomes{
  padding-left: 8%;
  padding-right: 8%;
}

.picclass{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}

.button{
  display: block;
  background-color:lightgrey;
	color:#333;
	padding:5px 10px;
  border:none;
  text-decoration: none;
  font-style: italic;
  font-size: 1.1vw;
}
.button:hover{
	background:darkred;
	color:lightgrey;
}

.description{
  position: fixed;
  left: 8%;
  top:8%;
}

@font-face {   font-family: "Minecraftia";
  src: url("Minecraftia.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@media only screen and (max-width: 800px) {

    .backgroundpic{
      max-width: 740px;
      max-height: 380px;
      margin-right: 8%;
      margin-left: 8%;
      text-align: center;
      padding-bottom: 6%;
      width: device-width;
      }
  }

  @media only screen and (max-width: 800px) {

    img{
      max-width: 50%;
    }
  }