body{
	background-color: #333;
  font-family: Minecraftia, arial, sans-serif;
	font-weight:normal;
	font-style:normal;
  color:white;
}

a:hover{
	color:darkred;
}
/*need these id´s for buttonjumping*/
#picdescription {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#piccreatures {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}
#picbosssummoning {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#picitems {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#picconfiguration{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#toppic{
  padding-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mobnames{
  font-family: Minecraftia, arial, sans-serif;
  text-decoration: none;
  color:white;
  text-align: center;
  padding-right: 1%;
}

.tame{
  font-family: Minecraftia, arial, sans-serif;
  text-decoration: none;
  color:goldenrod;
  padding-right: 1%;
}

.boss{
  font-family: Minecraftia, arial, sans-serif;
  text-decoration: none;
  color: purple;
  padding-right: 1%;
}

.texts{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
  line-height: 170%;
}

.textslessdistance{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  line-height: 170%;
}

.headings{
  text-align: center;
}

.picclass{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

.button{
  background-color:lightgrey;
	color:#333;
	padding:5px 10px;
  border:none;
  text-decoration: none;
  font-style: italic;
  font-size: small;
}

.button:hover{
	background:darkred;
	color:lightgrey;
}

.description{
	position:fixed;
	top:30%;
}

.creatures{
	position:fixed;
	top:38%;
}

.bosssummoning{
	position:fixed;
	top:46%;
}

.items{
	position:fixed;
	top:54%;
}

.configuration{
	position:fixed;
	top:62%;
}

.picgetbig{
  display: inline-block;
  width: 20%;
  margin-left: 19%;
  border: 3px solid #000;
  text-align: center;
}
.picgetbigright{
  width: 40.5%;
  display: inline-block;
  vertical-align: top;
  border: 3px solid #000;
  text-align: center;
}
.picgetbig:hover{
  width: 35%;
  border: 3px solid #000;
}
.picgetbigright:hover{
  width: 55%;
  border: 3px solid #000;
}

.textunderpic{
  text-align: center;
  padding-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.hovering{
  text-align: center;
  margin-left: 26%;
  margin-right: 26%;
}
#armor{
  color: olive;
}
.armory{
  width: 100%;
}
.hovering .armory{
  display: none;
}
.hovering:hover .armory{
  display: block;
}
.border{
  border: 3px solid #000;
}
#weapon{
  color: peru;
}
#misc{
  color: burlywood;
}
.normaltext{
  line-height: 2em;
}
.picgetbigsecond{
  display: inline-block;
  width: 25%;
  margin-left: 24%;
  border: 3px solid #000;
  text-align: center;
}
.picgetbigsecond:hover{
  width: 45%;
  border: 3px solid #000;
}
.picgetbigrightsecond{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  border: 3px solid #000;
  text-align: center;
}
.picgetbigrightsecond:hover{
  width: 45%;
  border: 3px solid #000;
}
#ideapic{
  width: 70%;
  border: 3px solid #000;
}

@font-face {   font-family: "Minecraftia";
  src: url("Minecraftia.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }