body{
	background-color: #333;
  font-family: Minecraftia, arial, sans-serif;
	font-weight:normal;
	font-style:normal;
  color:white;
  font-size:1.2vw;
}

a:hover{
	color:darkred;
}
/*need these id´s for buttonjumping*/
#picdescription {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#piccreatures {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}
#picbosssummoning {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#picitems {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#picconfiguration{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#toppic{
  padding-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}

.mobnames{
  font-family: Minecraftia, arial, sans-serif;
  text-decoration: none;
  color:white;
  text-align: center;
  padding-right: 1%;
}

.tame{
  font-family: Minecraftia, arial, sans-serif;
  text-decoration: none;
  color:goldenrod;
  padding-right: 1%;
}

.boss{
  font-family: Minecraftia, arial, sans-serif;
  text-decoration: none;
  color: purple;
  padding-right: 1%;
}

.texts{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
  line-height: 170%;
}

.textslessdistance{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  line-height: 170%;
}

.headings{
  text-align: center;
}

.picgetbigxx{
  display: inline-block;
  width: 30%;
  border: 3px solid #000;
}
.picgetbigrightxx{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  border: 3px solid #000;
}

.picclass{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

.picdistance{
  margin-top: 2%;
  margin-bottom: 2%;
}

.button{
  background-color:lightgrey;
	color:#333;
	padding:5px 10px;
  border:none;
  text-decoration: none;
  font-style: italic;
  font-size: small;
}

.button:hover{
	background:darkred;
	color:lightgrey;
}

.description{
	position:fixed;
	top:30%;
}

.creatures{
	position:fixed;
	top:38%;
}

.bosssummoning{
	position:fixed;
	top:46%;
}

.items{
	position:fixed;
	top:54%;
}

.configuration{
	position:fixed;
	top:62%;
}

.picgetbig{
  display: inline-block;
  width: 20%;
  margin-left: 19%;
  border: 3px solid #000;
  text-align: center;
}
.picgetbigright{
  width: 40.5%;
  display: inline-block;
  vertical-align: top;
  border: 3px solid #000;
  text-align: center;
}
.picgetbig:hover{
  width: 35%;
  border: 3px solid #000;
}
.picgetbigright:hover{
  width: 55%;
  border: 3px solid #000;
}

.textunderpic{
  text-align: center;
  padding-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.hovering{
  text-align: center;
  margin-left: 26%;
  margin-right: 26%;
}
#armor{
  color: olive;
}
.armory{
  width: 100%;
}
.hovering .armory{
  display: none;
}
.hovering:hover .armory{
  display: block;
}
.border{
  border: 3px solid #000;
}
#weapon{
  color: peru;
}
#misc{
  color: burlywood;
  margin-bottom: 10%;
}
.normaltext{
  line-height: 2em;
}
.picgetbigsecond{
  display: inline-block;
  width: 25%;
  margin-left: 24%;
  border: 3px solid #000;
  text-align: center;
}
.picgetbigsecond:hover{
  width: 45%;
  border: 3px solid #000;
}
.picgetbigrightsecond{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  border: 3px solid #000;
  text-align: center;
}
.picgetbigrightsecond:hover{
  width: 45%;
  border: 3px solid #000;
}
#ideapic{
  width: 70%;
  border: 3px solid #000;
}

/*BildPopUp*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
}
.modal-content {
  position: absolute;
  top: 6%;
  left: 10%;
  width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}
.modal-header {
  background: #C6C6C6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 1%;
  padding-bottom: 1%;
  
}
.modal-header .normalpictures{
  border-style: none;
}
.modal-header .leftrightpicturesleft{
  border-style: none;
}
.modal-header .leftrightpicturesright{
  border-style: none;
}
.close {
  color: #ccc;
  float: right;
  font-size: 60px;
  color: #fff;
  padding-right: 3%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.normalpictures{
  display: block;
  border: 3px solid #000;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.leftrightpicturesleft{
  display: inline-block;
  width: 40%;
  border: 3px solid #000;
  margin-left: 9%;
}
.leftrightpicturesright{
  display: inline-block;
  width: 40%;
  border: 3px solid #000;
  vertical-align: top;
}
/*BildPopUp*/

@font-face {   font-family: "Minecraftia";
  src: url("Minecraftia.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

  @media only screen and (max-width: 800px) {

    img{
      max-width: 50%;
    }
  }