body{
	background-color: #333;
  font-family: Minecraftia, arial, sans-serif;
	font-weight:normal;
	font-style:normal;
  color:white;
  font-size:1.5vw;
}

.heart{
  width: 14%;
  padding-left: 2%;
}

.list{
  border-collapse: collapse;
  width: 82%;
  border: 2px solid black;
  margin-left: 9%;
  table-layout: auto;
  margin-bottom: 6%;
}

tr{
  text-align: left;
  border: 2px solid black;
 
}
td{
  border: 2px solid black;
  padding-left: 1%;
  padding-right: 2%;
}
th{
  border: 2px solid black;
 
  padding-left: 1%;
  padding-right: 4%;
}

.leftrightpicturesleft{
  display: inline-block;
  width: 40%;
  border: 3px solid #000;
  margin-left: 9%;
}
.leftrightpicturesright{
  display: inline-block;
  width: 40%;
  border: 3px solid #000;
  vertical-align: top;
}

.smallheaders{
  text-align: center;
  padding-bottom: 1.5%;
}

.normalpictures{
  display: block;
  border: 3px solid #000;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/*Button Work + Theme Banner --------*/
/*EquipZ -------*/
#armorysign{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#buttonarmory{
  position:fixed;
	top:38%;
}
/*EquipZ -------*/
/*AppleZ -------*/
#itemssign{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#recipessign{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#buttonitems{
  position:fixed;
	top:38%;
}
#buttonrecipes{
  position:fixed;
	top:46%;
}
#makepicsmaller{
  width: 40%;
  margin-bottom: 5%;
}
#makepicsmaller2{
  width: 20%;
}
/*AppleZ -------*/
#descriptionsign{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#buttondesription{
  position:fixed;
	top:30%;
}
.button{
  background-color:lightgrey;
	color:#333;
	padding:5px 10px;
  border:none;
  text-decoration: none;
  font-style: italic;
  font-size: small;
  position:fixed;
  top:30%;
  margin-top: 4%;
  left: 1%;
}
.button:hover{
	background:darkred;
	color:lightgrey;
}
/*Button Work + Theme Banner --------*/

.picturebanner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.texts{
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  line-height: 170%;
}

#toppic{
  margin-top: 2%;
  padding-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Link Hovering*/
a:hover{
	color:darkred;
}

.classiclink{
  font-family: Minecraftia, arial, sans-serif;
  text-decoration: none;
  color:white;
}
/*BildPopUp*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

@font-face {   font-family: "Minecraftia";
  src: url("Minecraftia.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@media only screen and (max-width: 800px) {

    img{
      max-width: 50%;
    }
  }