body{
	background-color: #333;
	font-family: 'Minecraftia', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	color:white;
	font-size: medium;
	user-select: none;
}

#statement{
	text-align: center;
	line-height: 2em;
	padding-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

#banner {
	margin-top: 2%;
  	display: flex;
  	margin-left: auto;
  	margin-right: auto;
	object-fit: scale-down;
	max-width: 100%;
 	 height: auto;
}

@font-face {   font-family: "Minecraftia";
  	src: url("Minecraftia.woff2") format("woff2");
  	font-weight: normal;
	font-style: normal; 
}
	
@media only screen and (max-width: 800px) {
    img{
      max-width: 50%;
    }
}