body{
	background-color: #333;
	font-family: 'Minecraftia', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	color:white;
	font-size:1.5vw;
}

#statement{
	text-align: center;
	padding-top: 2%;
}

#smallertexts{
	text-align: center;
	line-height: 2em;
	margin-left: 10%;
	margin-right: 10%;
}

#navbar{
	background-color:#333;
	color:#fff;
	text-align: center;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#navbar a:hover{
	color:darkred;
}

#banner {
	margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {   font-family: "Minecraftia";
  src: url("Minecraftia.woff2") format("woff2");
  font-weight: normal;
	font-style: normal; }
	
  @media only screen and (max-width: 800px) {

    img{
      max-width: 50%;
    }
  }